@import "../../../styles/variable";

.switchButton {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 1.875rem;
  border: var(--color-) solid 0.125rem;
  margin: auto;
  border-radius: 2.5rem;
  cursor: pointer;
  &:hover {
    span {
      opacity: 80%;
      transition: 0s;
    }
  }
  &:has(input:not(:checked)) {
    box-shadow: inset 0 0.2rem 0.4rem 0 darkgray;
    transition: all 0.5s linear;
  }
  &:has(input:checked) {
    box-shadow: none;
    transition: all 0.5s ease;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  span {
    position: absolute;
    height: 1.625rem;
    width: 1.625rem;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 0.125rem;
    margin: auto 0;
    transition: right 0.5s ease;
  }

  input:checked+span {
    background-color: var(--color-);
    transform: translateX(1.875rem);
    transition: all 0.5s ease;
  }
  input:not(:checked)+span {
    background-color: $complementaryColor;
    transform: translateX(0);
    transition: all 0.5s ease;
  }
}
