@import "src/styles/variable";

.profil {
  @media screen and (max-width: 820px) {
    .grid {
      grid-template-columns: repeat(3, 1fr)!important;
    }
    .middle {
      flex-direction: column!important;
      .left, .right {
        width: 100%!important;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .grid {
      grid-template-columns: repeat(2, 1fr)!important;
    }
  }

  h3.title-profil {
    font-weight: normal;
    font-style: oblique;
    font-size: 20px;
    color: $secondaryColor;
  }
  .content-profil {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
    margin: auto;
    max-width: 78rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .top {
      > h2 {
        font-size: 24px;
        text-align: start;
      }
    }

    .middle {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      .left, .right {
        color: $primaryColor;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: left;
      }

      .left {
        gap: 3rem;

        > div {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
        }
      }

      .right {
          border-radius: 1rem;
          background-color: $complementaryColor;
          padding-bottom: 2.5rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 2rem;
          h3.title-profil {
            padding-top: 2.5rem;
            padding-left: 2.5rem;

          }
          .grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 2rem;
            margin: auto;
            justify-content: space-around;
            .skill {
              text-align:center;
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 0.4rem;
              div.container-text {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;

                p {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-items: center;
                  justify-content: center;
                  gap: 4px;
                  width: 9.2rem;
                }
              }
              svg {
                width: 48px;
                height: 48px;
              }
            }
          }
        }

    }
    .bottom {
      display: flex;
      flex-direction: column;
      text-align: start;
      gap: 1rem;
      .container-tools {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
