@import "src/styles/Porfolio";

.portfolio {
  .dropDownList {
    details {
      position: relative;
      text-align: left;
      max-width: 1200px;
      color: $primaryColor;
      margin: auto;
      padding: 1vw;
      &[open] {
        ::marker {
          color: $secondaryColor;
        }
      }
      summary {
        cursor: pointer;
        font-size: 2em;
        font-weight: bold;
        width: fit-content;
      }
      .content {
        height: fit-content;
        transition: height,max-height 1s cubic-bezier(0, 1, 0, 1);
      }
    }
  }

  .listCategory {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    column-gap: 25px;
    .li {
      margin-bottom: 45px;
      img {
        border-radius: 6%;
        &:hover {
          opacity: 70%;
          cursor: pointer;
        }
      }
    }
  }
}
