@import "src/styles/variable";
@keyframes on-open {
  from {
    opacity: 0;
  }
}

.content-timeline {
  max-width: 100rem!important;
}
.containerPopup {
  position: fixed;
  background-color: white;
  animation: on-open 0.3s ease-in-out;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 110;
  opacity: 100;

  .content-popup {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    padding: 1rem;
    gap: 2rem;
    .header {
      .title {
        color: #141C38;
      }
      left: 0;
      top: 0;
      position: fixed;
      justify-content: space-between;
      width: 100%;
      height: calc(70px + 4vh);
      z-index: 10;
      background-color: $complementaryColor;
      .content-header {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        background-color: #FDFDFD;
        border-radius: 16px;
        border: $primaryColor solid;
        margin: 4vh 1rem 0 1rem;
        padding: 10px 1rem 10px 1rem;
        span {
          font-weight: bold;
          font-size: 1.5rem;
        }
        .conteneur-close {
          justify-self: start;
          float: left;
        }
      }
    }
  }

  .conteneur-close {
    fill: $primaryColor;

    .close-popup {
      width: 2.5rem;
      height: 2.5rem;
    }

    :hover {
      cursor: pointer;
      fill: $secondaryColor !important;
    }

  }
}
