@import "variable";

.App {
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  section {
    background: #FDFDFD;
    .titre-section {
      font-size: 3rem;
    }
  }
  .hidden {
    display: none;
  }
  .titre-section {
    font-weight: bold;
    font-size: 2rem;
    color: $primaryColor;
    padding: 50px;
  }
  .icon {
    width: 2rem;
    height: 2rem;
    fill: $primaryColor;
  }

  header {
    width: 100%;
  }
  .content {
    padding-top: 40px;
    height: 100vh;
    text-align: center;
  }
}

html {
  background: #E2E1DF;
  scroll-behavior: smooth;
}