$primaryColor: #141C38;
$secondaryColor: #F46036;
$complementaryColor: #EEECE1;

.App {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  background: #FDFDFD;
}

html {
  scroll-behavior: smooth;
}