@import "../../styles/Porfolio";

.timeline-section {
  .container-timeline-section {
    max-width: 78rem;
    margin: 0 auto;

    div.content-timeline {
      overflow: hidden;
      .timeline {
        @media screen and (max-width: 640px) {
          border-left: 4px solid #141C38!important;
        }
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 70px;
        border-left: 5px solid #141C38;
        display: block;
        position: relative;
        min-height: 12.5rem;
        .arrow-top {
          position: absolute;
          left: -23px;
          top: -30px;
          border-bottom: 30px solid $primaryColor;
          border-top: 20px solid transparent;
          border-right: 20px solid transparent;
          border-left: 20px solid transparent;
        }
        .timeline-card {
          margin-bottom: 50px;
        }
      }
    }
  }
}
