@import "src/styles/variable";
.home {
  background-color: #E2E1DF!important;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  .conteneurTitre {
    color: $primaryColor;
    position: absolute;
    left: 50%;
    top: 15%;
    text-align: end;
    h1 {
      font-weight: bold;
      font-size: 4vw;
    }
    h2 {
      font-size: 2.8vw;
      font-weight: bold;
    }
    p {
      font-size: 1vw;
    }
  }

  img.moi {
    height: 90%;
    width: auto;
    bottom: 3rem;
    position: absolute;
    left: 10%;

  }
  img.background {
    max-height: 80vh;
    max-width: 100vw;
    height: auto;
    width: auto;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
}
