@import "src/styles/Porfolio";

nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 40px;
  background-color: $primaryColor;
  &.light {
    background-color: #E2E1DF;
    li {
      color: $primaryColor;
      &:hover,.active {
        color: $primaryColor;
      }
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    float: right;
    align-items: center;
    height: inherit;

    li {
      font-size: medium;
      color: $complementaryColor;
      margin-right: 20px;

      &:first-child {
        margin-right: 300px;
      }

      &:hover,.active {
        cursor: pointer;
        color: $secondaryColor;
        font-weight: bold;
      }
    }
  }
}




