@import "src/styles/variable";

nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  .content-nav {
    background-color: $primaryColor;
    transition: all 0.5s ease-in-out;
    padding-left: 4rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    .item-nav {
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 18px;
      color: $complementaryColor;
      &:hover,.active {
        cursor: pointer;
        color: $secondaryColor;
      }
      .active {
        font-weight: bold;
      }
    }
    img {
      width: 2rem;
      height: 2rem;
    }
    &.light:not(.open) {
      transition: all 0.5s ease-in;
      background-color: transparent;
      .item-nav {
        color: $primaryColor;
        &:hover,.active {
          color: $primaryColor;
          font-weight: bold;
        }
      }
      svg {
        color: $primaryColor!important;
        fill: $primaryColor!important;
      }
    }
    .menu-big {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }
  }

  .menu-small {
    margin: auto 0;
    display: none;
    svg {
      color: $complementaryColor!important;
      fill: $complementaryColor!important;
      width: 30px!important;
      height: 30px!important;
      &:hover {
        color: $secondaryColor!important;
        fill: $secondaryColor!important;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .content-nav.open {
      flex-direction: column;
      height: 100vh;
      justify-content: stretch;
      .menu-big {
        display:flex!important;
        flex-direction: column;
        margin: auto;
        padding-bottom: 30px;
      }
    }
    .menu-big {
      display:none!important;
    }
    .menu-small {
      display:block;
    }

  }
}




