@import "src/styles/variable";
.listProjectPopup {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: $complementaryColor;
  height: 100%;
  width: 100%;
  .conteneur-close {
    align-self: start;
  }

  .list-project {
    margin-top: calc(80px + 4vh);
    overflow-y: auto;
    overflow-x: hidden;
    .project-grid {
      margin: auto;
      max-width: 78rem;
    }
  }
}
