@import "../../../styles/variable";
.dropDownList {
  padding-bottom: 3rem;
  @keyframes details-show {
    from {
      opacity:0;
    }
  }


  details {
    position: relative;
    text-align: left;
    max-width: 78rem;
    color: $primaryColor;
    margin: auto;
    padding-right: 3rem;
    padding-left: 3rem;
    &[open] {
      animation: details-show 250ms ease-in-out;
      ::marker {
        color: $secondaryColor;
      }
    }
    summary {
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: normal;
      width: fit-content;
    }
    .content {
      height: fit-content;
      transition: all 1s ease-in;
      padding-top: 3rem;
    }
  }
}