@import "../../../styles/variable";
.dropDownList {
  padding-bottom: 3rem;
  @keyframes details-show {
    from {
      opacity: 0;
    }
  }

  details {
    position: relative;
    text-align: left;
    max-width: 1248px;
    color: $primaryColor;
    margin: auto;
    padding-right: 3rem;
    padding-left: 3rem;
    &[open] {
      .content {
        opacity: 100;
        transition: opacity 400ms ease-in-out;
      }

      ::marker, ::-webkit-details-marker {
        color: $secondaryColor;
      }
    }
    &:not([open]) {
      .content {
        opacity: 0;
      }
    }
    summary {
      cursor: pointer;
      font-size: 24px;
      font-weight: normal;
      width: fit-content;
    }
    .content {
      height: fit-content;
      transition: all 1s ease-in;
      padding-top: 3rem;
      opacity: 0;
    }
  }
}