@import "../../../styles/variable";

.timeline-card {
  @media screen and (max-width: 640px) {
    span.round-time {
      width: 23px!important;
      height: 23px!important;
      left: -14px!important;
    }
  }
  transition: all 0.5s ease-out;
  position: relative;
  opacity: 100;
  width: 100%;

  &.unseen {
    overflow-x: hidden;
    position: absolute;
    opacity: 0;
    transform: translateX(300px);
    transition: all 0.5s ease-out;
  }

  span.round-time {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--color-);
    z-index: 1;
    top: 0;
    bottom: 0;
    left: -18px;
    margin: auto 0;
  }

  div.content-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    margin-left: 50px;
    align-self: center;
    border: 1px solid var(--color-);
    background-color: $complementaryColor;
    align-items: flex-start;

    @media screen and (max-width: 1024px) {
      .event-info {
        font-size: 18px!important;
      }
    }

    @media screen and (max-width: 768px) {
      .event-info {
        font-size: 17px!important;
      }
    }

    @media screen and (max-width: 640px) {
      .event-info {
        font-size: 16px!important;
      }
      p {
        font-size: 14px!important;
      }
    }

    @media screen and (max-width: 520px) {
      .event-info {
        gap: 24px!important;
        font-size: 14px!important;
      }
      p {
        font-size: 13px!important;
      }
    }
    @media screen and (max-width: 481px) {
      .event-info {
        font-size: 13px!important;
      }
      p {
        font-size: 12px!important;
      }
    }
    .event-info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $primaryColor;
      font-size: 19px;
      gap: 36px;
      .date {
        font-style: italic;
      }
    }

    .body {
      margin-top: 1rem;
      text-align: start;
      width: 100%;
      border-top: 1px dashed var(--color-);
      padding: 1rem 1rem 0.2rem 1rem;
      .grid-card-list {
        padding: 0;
      } 
      .card-timeline-grid {
        padding-top: 2rem;
        .title > h3 {
          font-weight: normal;
          font-size: 16px;
        }
      }
      a {
        color: $secondaryColor;
        &:hover {
          text-decoration: underline $secondaryColor;
        }
      }
      ul {
        ::marker {
          color: $secondaryColor;
        }
        li {
          list-style: disc;
          margin-bottom: 0.5rem;
        }
        li:last-child {
          margin-bottom: 0;
        }
      }
    }

    span.arrow-left {
      position: absolute;
      left: -50px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 0;
      height: 0;
      border-bottom: 20px solid transparent;
      border-top: 20px solid transparent;
      border-right: 30px solid var(--color-);
      border-left: 20px solid transparent;
    }
    span.arrow-left-in {
      position: absolute;
      left: -48px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 0;
      height: 0;
      border-bottom: 20px solid transparent;
      border-top: 20px solid transparent;
      border-right: 30px solid $complementaryColor;
      border-left: 20px solid transparent;
    }
  }
}